img {
  width: 30%;
  margin: calc(10% / 6);
}

nav:marquee {
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 2px solid silver; /* it will display a thin line  */
  width: 30%; /* it represents the length of the line  */
  margin-left: calc(10% / 6);
  padding: 1.5em 0;
}
